# Default ignored files
	/shelf/
	/workspace.xml
	# Datasource local storage ignored files
	/../../../../../../:\Users\stephen fusco\PycharmProjects\stats_calculator/dataSources/
	/dataSources.local.xml
	# Editor-based HTTP Client requests
	/httpRequests/
